<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<h1> Client Window</h1>
<body>
       <a class="p-2 text-dark" href="/first">Home</a>
       <a class="p-2 text-dark" href="/output/bexruz">Output</a>
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <table class="table">
        <div class="alert alert-primary" th:text="${message}">
        </div>
        <tr class="table-dark">
          <th>Id</th>
          <th>Name</th>
          <th>Active</th>
          <th>Operation</th>
        </tr>
        <tr th:each="client:${clientList}">
          <td th:text="${client.getId()}"></td>
          <td th:text="${client.getName()}"></td>
          <td th:text="${client.isActive()}"></td>
          <td>
            <a th:href="'/client/page/edit/'+${client.id}"  class="btn btn-primary">Edit</a>
            <a th:href="'/client/page/delete/'+${client.id}"  class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 text-center mt-5">
      <form th:action="@{/client/page/add}" method="post" >
        <label>Enter name</label>
        <input class="form-control" type="text" name="name" required minlength="2">
        <input type="submit" class="btn btn-primary w-100">
      </form>
    </div>
  </div>
</div>
</body>
</html>