<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<h1> Measurement Window</h1>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-8">
            <table class="table">
                <div class="alert alert-primary" th:text="${message}">
                </div>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Operation</th>
                </tr>
                <tr th:each="mea:${measurements}">
                    <td th:text="${mea.getId()}"></td>
                    <td th:text="${mea.getName()}"></td>
                    <td th:text="${mea.isActive()}"></td>
                    <td>
                        <a th:href="'/measurement/bexruz/edit/'+${mea.id}"  class="btn btn-primary">Edit</a>
                        <a th:href="'/measurement/bexruz/delete/'+${mea.id}"  class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 text-center mt-5">
            <form th:action="@{/measurement/bexruz/add}" method="post" >
                <label>Enter name</label>
                <input class="form-control" type="text" name="name" required minlength="1">
                <input type="submit" class="btn btn-primary w-100">
            </form>
        </div>
    </div>
</div>
</body>
</html>