<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<style>
    body{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMOSESbjV_daP5dL3yh-UJ2PaLG4DLXVn3gQ&usqp=CAU");
        background-size: 100%;
        background-repeat: no-repeat;
    }
</style>
<body>
<!--<header th:insert="/blocks/header :: header"></header>-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
    <h2 class="my-0 mr-md-auto font-weight-normal">Warehouse</h2>
    <nav class="my-2 my-md-0 mr-md-3">
        <form action="/product/bexruz/search" class="navbar-search pull-left">
            <input name="name" th:method="get" type="text" class="search-query"
                   placeholder="Search">
            <button type="submit">Search</button>
        </form>
        <a class="p-2 text-dark" href="/product/bexruz">Products</a>
        <a class="p-2 text-dark" href="/category/bexruz">Katalog</a>
        <a class="p-2 text-dark" href="/warehouse/bexruz">Dashboard</a>
        <a class="p-2 text-dark" href="/first">Home</a>
    </nav>
</div>

<div class="container mt-5 mb-5 ">
    <h1 class="text-white">Edit Product</h1>
    <div>
        <form th:action="'/product/bexruz/edit/'+${product.id}" method="post">
            <label for="">Product name</label>
            <input type="text" th:value="${product.name}" name="name" placeholder="name of product"
                   class="form-control"><br>
            <div class="form-group">
                <label for="category">Select Category</label>
                <select class="form-control selectpicker" name="categoryId" id="category">
                    <option value="">category selected</option>
                    <option th:each="category : ${categoryList}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                             th:selected="${product.category.id}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

</body>
</html>